<template name="modalhelp">
  <div class="modal fade" id="helpinfo" tabindex="-1" role="dialog" aria-labelledby="helpinfoLabel">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10006;</span></button>
			  <h4 class="modal-title" id="helpinfoLabel">Help</h4>
		</div>
		<div class="modal-body">
			<label>HI GUYS.</label>
			<p>Project Owners:</p>
			<ul>
				<li>Annie</li>
				<li>Annie</li>
				<li>Annie</li>
				<li>Annie</li>
			</ul>
       	</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>
</template>
